* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   max-height: 100vh;  
}

body {
    background-color: #fff;
    font-family: 'Roboto',
       ' Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.register-container {
    min-height: 100vh;
    display: flex;
}
.register-logo {
    position: relative;
    width: 95%;
    background-color: #000000;
    overflow: hidden;
    margin: 20px;
    border: 25px  solid  #000;
    border-radius: 25px;
}

.register-logo::before {
    content: " "; /* Create a pseudo-element for the gradient */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    z-index: 1; /* Place the gradient below the text but above the image */
}
.register-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 15px;
}

.register-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 15px;
}
.register-logo p {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 0 10px;
    z-index: 2;
}
.register-logo span {
    display: block;
}

/* form section */
.register-section {
    width: 100%;
    padding: 30px  25px  20px;
    display: flex;
    flex-direction: column;
}
.register-section img {
     width: 100px;
    margin-bottom: 28px;
}
.register-header {
    margin-bottom: 15px;
    /* padding-bottom: 20px; */
}
.register-header h1 {
    font-size: 24px;
    font-weight: 300;
    color: #444;
}
.register-header p {
    color: #777;
    font-size: 14px;
}

.register-form {
    max-width: 720px;
}
.register-group label {
    display: block;
    margin-bottom: 7px;
    margin-top: 20px ;
    color: #666;
    font-size: 14px;
}
.register-input {
    width: 78%;
    padding: 17px   8px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 13px;
    color: #888;
    transition: all 0.3s ease;
}
.register-input:focus {
    outline: none;
    border-color: #ff6b00;
    box-shadow: 0 0 0 2px rgba(255, 107, 0, 0.1);
}
.country-dropdown {
    position: relative;
    width: 78%;
    padding: 17px   8px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 13px;
    color: #888;
    transition: all 0.3s ease;
}
.dropdown-selected {
    cursor: pointer;
    color: #888;
}
.dropdown-options {
    display: none;
    list-style: none;
    margin: 20px  -8px;
    padding: 5px   8px;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    z-index: 1000;
}
.dropdown-item {
padding: 7px;
    background-color: #f9f9f9;  
}
.check-icon {
    margin-right: 10px;
    color: #444;
}

.error-message.visible {
    display: block; 
}


.hidden {
    display: none; 
}

.error-message {
    color: #dc2626;
    font-size: 13px;
    margin-top: 5px;
    font-weight: 400;
    transition: opacity 0.3s ease;
}
.error-message.visible {
    display: block; 
}
.register-btn.loading {
    opacity: 0.8;
    cursor: not-allowed;
}
.password-container { 
 position: relative; 
 display: inline;
}

.show-password {
    position: absolute;
    right: 12px;
    top: 70%;
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
    font-size: 15px;
}

.fa-eye-slash {
    color: #999;
}
 
/* acccept terms and codition */

.terms-container {
    margin: 20px 0   70px ;
    font-size: 14px;
    color: #999;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    width: 23px;
    height: 23px; 
    border: 1px solid #ff6b00; 
    border-radius: 8px; 
    cursor: pointer; 
    appearance: none; 
    display: inline-block;
    
}
.terms-container label {
    cursor: pointer;
}
.terms-link {
    color: #ff6b00;
    text-decoration: none;
}
.privacy-link  {
    color: #ff6b00;
    text-decoration: none;
}
.terms-container a {
    text-decoration: none;
}

.register-btn {
    width: 80%;
    background: #ff6b00;
    padding: 17px  8px;
    color: #f5f5f5;
    border: none;
    border-radius: 8px ;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s  ease;
    /* margin-bottom: 10px; */
    /* margin-top: 20px; */
}
.register-btn:hover {
    background-color: #e65100;
}

.login-link {
    color: #ff6b00;
    text-decoration: none;
}

.login-text {
    text-align: center;
    color: #666;
    font-size: 15px;
}
.register-link:hover {
    text-decoration: underline;
}







@media (max-width: 768px)  {
    .register-section{ 
        padding: 20px;
        width: 1000px;
        
    }
    .register-logo{
        display: none;
    }
    .register-input {
        width: 100%;
    }
    .country-input {
        width: 100%;
    }

    .register-btn {
        width: 685px;
        padding: 20px;
    }
}
