* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
}

 body {
    background-color: #f9fafb;
    background-image: url("/Assets/bg-pattern.png");
    font-family: 'Roboto',
    ' Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
} 

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

header.default {
    background: transparent;
    box-shadow: none;
}

header.scrolled {
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    max-width: 1400px;
    margin:  10px   225px;
}
 .logo img { 
     width: 160px; 
    height: 38px;
}
.nav-toggle {
    display: none;
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    flex-grow: 1; 
}

  .nav-links  ul { 
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}
.nav-links ul li a {
    color: #333;
    text-decoration: none; 
    font-size: 15px; 
    font-weight: 500;
}

.login ul {
    display: flex; 
    align-items: center;
    list-style: none; 
    gap: 30px;
}

.login ul li a {
    color: #333;
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
}
.login  ul  li button{
    padding: 15px 20px;
    width: 130px;
    height: 45px;
    font-size: 15px;
    background-color: #ff6a00;
    text-align: center;
    color: #f5f5f5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.15s ease;
    box-shadow: 2px 10px 20px rgba(255, 106, 0, 0.6);
}

.container-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px  20px;
}
.container-one h1 {
    white-space: normal;
     font-size: 45px;
     font-weight: bold;
    margin-top: 100px;
    line-height: 1.2;
    text-align: center;
}
.container-one span {
    display: block;
}
.container-one p {
    color: #666;
    font-size: 15px;
    margin: 20px  0;
   line-height: 1.5;
}
.account {
    margin-bottom: 50px;
}
.container-one button {
    padding: 8px 16px;
    height: 45px;
    font-size: 15px;
    font-weight: 500;
    background-color: #ff6a00;
    color: #f5f5f5;
    border: none;
    border-radius: 8px;
    cursor: pointer; 
    margin-top: 20px ;
    transition: all 0.15s ease;
    box-shadow: 2px 10px 20px rgba(255, 106, 0, 0.6);
}
.container-one a {
    color: #666;
    font-size: 17px;
    margin-right: 20px;
    text-decoration: none;
}
.position {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 180px;
    margin-right:  180px;
    
}
#wrap img {
    max-width: 100%;
    border: 10px solid #000;
    border-radius: 25px;
    
}
#absolute {
    position: absolute;
    top: 26%;
    left: 76.6%;
} 
#absolute img {
    max-width: 100%;
    width: 300px;
    height: 590px; 
}
/* styling for section 2 */
.container-two {
    background-color: #000;
    color: #f5f5f5;
    padding: 50px 30px;
   min-height: 1400px;
   border-radius: 10px;
   flex: 1;
}

/* title section */
.title{
  text-align: center;
}
.title h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
}
.title span {
    display: block;
}

.title p {
    margin-top: 10px;
    font-size: 17px;
}

.content-wrap {
     display: flex;
     flex-wrap: wrap;
     gap: 15px;
     margin-top: 50px;
     justify-content: center;
}

/* first-image */
.container-two-img-one .container-two-img-two  {
    text-align: center;
}

.container-two-img-one img {
    width: 800px;
    height: 450px;
    border-radius: 15px  15px  0 15px;
  }

  .currency-content {
    background-color: #f9f9f9;
    padding: 30px 30px;
    border-radius: 15px  15px  15px  0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    position: relative;
    height: 450px;
    width: 500px;
  }
  .currency-content h3, .payment-link-content h3 {
    font-size: 20px;
    color: #ff6a00;
    margin: 30px  0   10px  0;
  }
  .currency-content p, .payment-link-content p {
    font-size: 15px;
    line-height: 1.5;
    color: #555;
  }

  .currency-list, .features-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .currency-item, .feature-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .currency-item img, .feature-item img {
    width: 20px;
    height: 20px;
  }
  
  .currency-item p, .feature-item p {
    font-size: 15px;
    color: #333;
    margin: 0;
  }
  .payment-link-content {
    background-color: #f9f9f9;
    padding: 20px 30px;
    border-radius: 15px  15px  0  15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    position: relative;
    height: 450px;
    width: 580px;
  }

  .circle-decoration {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .circle-decoration img {
    width: 120px;
    height: 120px;
  }
  .container-two-img-two img {
    width: 100%;
    height: 450px;
    border-radius: 15px  15px  15px  15px;
  }
  
  /* the third section */
  .container-three {
   max-width: 1100px;
   min-height: 1500px;
   margin: 0 auto;
   padding: 80px  20px;
   position: relative;
   overflow: hidden;
  }

  .container-three h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin:  15% 5% 0 0;
    color: #000;
  }
  .container-three span {
    display: block;
  }

  .container-three-flex {
     display: grid;
     grid-template-columns: 2fr   2fr;
     width: 100%;
     margin-top: 20px;
     align-items: left;
     justify-content: center;
  }

  .container-three-list {
    flex: 1;
    max-width: 100%;
    min-width: 300px;
    /* max-width: calc(50%  -   20px); */
    text-align: left;
    padding: 10px;
  }

  .icon-container {
    width: 80px;
    height: 80px;
    margin: 10px 0 40px  0;
  }

  .icon-container img {
    width: 150px;
    height:100px;
    object-fit: contain;
}

.container-three-list h4 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #000;
}

.container-three-list p {
    color: #666;
    line-height: 1.6;
    font-size: 15px;
}

.circle-img {
    position: absolute;
    right:  -120px;
    top: 40%;
    bottom: 0;
    width: 600px;
    height: 200px;
}
 .container-four {
   background: rgba(255, 255, 255, 0.5);
  padding: 20px;
 }

 .container-four h1 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
 }
 .container-four h1 span {
  display: block;
 }

 .faq-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
 }

 .ercas-container {
  border: 1px  solid  #333;
  border-radius: 8px;
  /* padding: 18px; */
  /* width: 100%; */
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 .ercas-header {
  display: inline;
  /* align-i: center; */
  justify-content: space-between;
  cursor: pointer;
 }
 .ercas-header h2 {
   font-size: 15px;
   color: #333;
   /* margin-right: 15px; */
 }

 .ercas-header p {
  /* flex: 1; */
  font-size: 15px;

 }

.question-btn {
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  /* color: #ff7300 ; */
}
.question-btn .minus-icon {
  display: none;
}
.ercas-description  {
  margin-top: 15px;
  font-size: 15px;
  display: none;
}
     /* Faq Open State */
.ercas-container.active .ercas-description {
  display: block;
}
.ercas-container.active .question-btn .minus-icon {
  display: inline;
}
.faq-img {
  margin-top: 30px;
  max-width: 400px;
}

.faq-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


.container-five {
  background: #fff;
  color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding:  10px  0; */
  /* margin-bottom: 30px; */
}
.container-five p {
  font-size: 25px;
  margin: 30px  0  5px  0; 
}

.media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.media img{
  width: auto;
}

.footer {
    background: #fff;
} 

.footer-container {
  max-width: 1200px;
   min-height: 400px;
}
.footer-main {
  display: grid;
  grid-template-columns:  6fr  1fr 1fr 1fr 6fr;
  gap: 60px;
  margin: 0   200px   30px  200px ;
  padding: 0 30px; 
}

.footer-brand {
  max-width: 500px;
  width: 600px;
}

.footer-brand img {
  margin-bottom: 20px;
max-width: 80px;
}
.footer-brand p {
  color: #666;
  line-height: 1.5;
  font-size: 16px;
  
}

.footer h5{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
} 

.footer-section p {
  color: #555;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-section p:hover {
   color: #ff6a00;
}
.footer-contact {
  max-width: 500px;
  width: 500px;
}
.footer-contact p {
  margin-bottom: 15px;
  color: #333;
  font-weight: 500;
}
.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.social-icons img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: opacity  0.3s  ease;
}
.social-icons img:hover {
  opacity: 0.8;
}

.address{
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}
.address span {
  display: block;
}

.footer-border {
 width: 2000px;
  border-top: 1px solid  #e9ecef;
}

.footer-bottom  {
  margin:  0  12%;
padding: 0  40px; 
max-width: 1100px;
width: 100%;
}

.footer-bottom p {
  color: #495057;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 50px 0;
  max-width: 70%;
}

 @media (max-width: 768px) {
  .footer-main {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
  }
}

@media (max-width: 480px) {
  .footer-main {
      grid-template-columns: 1fr;
  }
  
  .footer {
      padding: 40px 0 20px;
  }
} 