* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
}

 body {
    background-color: #f9fafb;
    background-image: url("/Assets/bg-pattern.png");
    font-family: 'poppins', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
} 

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

header.default {
    background: transparent;
    box-shadow: none;
}

header.scrolled {
    background: rgba(255, 255, 255, 0.815);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    max-width: 1400px;
    margin:  10px   225px;
}

 .logo img { 
     width: 160px; 
    height: auto;
}

.nav-toggle {
    display: none;
}

.toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Let the menu take up available space */
  justify-content: space-between; /* Space between .nav-links and .login */
}
.nav-links {
    display: flex;
    flex: 1; /* Allow nav-links to take up the remaining space */
    justify-content: center; /* Center the links horizontally */
}

  .nav-links ul { 
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 45px;
}
.nav-links ul li a {
    color: #333;
    text-decoration: none; 
    font-size: 16px; 
    font-weight: 500;
}

.login ul {
    display: flex; 
    align-items: center;
    list-style: none; 
    gap: 30px;
}

.login ul li a {
    color: #333;
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
}
.login  ul  li button{
    padding: 15px 20px;
    width: 130px;
    height: 45px;
    font-size: 15px;
    background-color: #ff6a00;
    text-align: center;
    color: #f5f5f5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.15s ease;
    box-shadow: 2px 10px 20px rgba(255, 106, 0, 0.6);
}

.pricing-container {
  text-align: center;
  padding: 10px;
  margin-top: 165px;
  border-radius: 8px;
}

.pricing-container h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.pricing-container p {
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  margin-bottom: 40px
}
.pricing-container p span {
  display: block;
}

.pricing-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
 
.pricing-nav a {
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  color: #444;
}
.pricing-nav a.active {
  border-bottom: 1px solid #ff6600;
  color: #ff6600;
}

.pricing-content .note {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: left;
  gap: 20px;
}
.note .mark {
  border: 1px solid #ff6600;
  width: 20px;
  height: 20px;
  border-radius: 50%;
 
}
.note i {
  padding: 0 0 5px 5px;
  color: #ff6600;
}
 #checkout { 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.card-grid {
  gap: 20px;
}

.card-grid h2{
  text-align: left;
  font-size: 25px;
  color: #555;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

 .card {
  border: 1px solid #ff6600;
  background-color: rgba(255, 179, 128, 0.1);
  border-radius: 5px;
  padding: 15px;
  width: 400px;
}
.card-rate{
  text-align: left;
}
.card-rate p {
  padding: 10px  0  10px;
  margin: 0;
}
.card-rate h3 {
 font-size: 50px;
}

.card-rate .capped {
  font-size: 15px;
  color: #555;
}

.card-rate .amount {
  font-weight: bold;
  color: #000;
  font-size: 15px;
  
}

.pricing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}

.pricing-info {
 border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.pricing-info h2 {
  text-align: left;
  font-size: 25px;
  color: #555;
  
}

.rate {
  border: 1px solid #ff6600;
  background-color: rgba(255, 179, 128, 0.1);
  border-radius: 5px;
  width: 400px;
  font-size: 24px;
  font-weight: bold;  
}

 
.rate h3 {
  font-size: 50px;
  padding: 15px 0 15px  15px;
  text-align: left;
 }
 
 .pricing-info .capped {
   font-size: 15px;
   color: #555;
 }
 
 .pricing-info .amount {
   font-weight: bold;
   color: #000;
   font-size: 15px;
 }
 .pricing-info .pay-ins {
  display: none;
}

#payins {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


#settlement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}





/* footer styling */
.footer {
    background: #fff;
    padding-top: 50px;
} 

.footer-container {
  max-width: 1200px;
  min-height: 400px;
}
.footer-main {
  display: grid;
  grid-template-columns:  6fr  1fr 1fr 1fr 6fr;
  gap: 60px;
  margin: 0   200px   30px  200px ;
  padding: 0 30px; 
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}

.footer-brand {
  max-width: 500px;
  width: 600px;
}

.footer-brand img {
  margin-bottom: 20px;
max-width: 80px;
}
.footer-brand p {
  color: #666;
  line-height: 1.5;
  font-size: 16px;
}

.footer h5{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
} 

.footer-section p {
  color: #555;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-section p:hover {
   color: #ff6a00;
}
.footer-contact {
  max-width: 500px;
  width: 500px;
}
.footer-contact p {
  margin-bottom: 15px;
  color: #333;
  font-weight: 500;
}
.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.social-icons img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: opacity  0.3s  ease;
}
.social-icons img:hover {
  opacity: 0.8;
}

.address{
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}
.address span {
  display: block;
}

.footer-border {
 width: 2000px;
  border-top: 1px solid  #e9ecef;
}

.footer-bottom  {
  margin:  0  12%;
padding: 0  40px; 
max-width: 1100px;
width: 100%;
}

.footer-bottom p {
  color: #495057;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 50px 0;
  max-width: 70%;
}


@media (max-width: 768px) {
  header {
    position: fixed; 
    padding: 5px 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .navbar {
    padding: 0;
    margin: 0;
  }
  .logo img {
    width: 100px;
    height: auto;
    margin: 20px 0  0 55px;
   }

   .menu {
    opacity: 0; /* Initially hidden */
    transform: translateY(-20px); /* Initially above the screen */
    transition: transform 0.2s ease; /* Smooth slide effect */
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    z-index: 1000;
    text-align: center;
  }
  .navbar.active .menu {
    opacity: 1; 
    transform: translateY(0);
    pointer-events: auto;
  }
  .menu ul {
    list-style: none;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
  }
  .menu ul li {
    margin: 20px 0;
  }
  .menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
  }
  .login ul li button {
    width:680px; 
    padding: 10px 15px;
    background-color: #ff6a00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .login ul li button:hover {
    background-color: #e65a00;
  }

.nav-toggle {
  display: block;
  margin:20px 55px 0 0 ;
}
.nav-toggle.close-icon {
  content: '✖'; /* Close (X) icon */
  font-size: 28px;
  cursor: pointer;
}
.footer-main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin: 0 20px 30px 43px;
  padding: 0 10px  0  30px;
}

.footer-brand {
  max-width: none;
  width: auto;
}




.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contact {
  max-width: none;
  width: auto;
}

.footer-border {
  width: auto;
}
.footer-border{
background-color: #fff;
}
.footer-bottom p {
  max-width: 100%;
  padding: 30px 0;
  padding-right: 130px;
}

}
